.container {
  max-width: 640px;
  margin: 0 auto;
  background-color: var(--background-primary);
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap:1.5rem;
  border-radius: 1rem;
}
