@use "./../ui/_color.scss" as *;
.container {
  max-width: 640px;
  margin: 0 auto;
  background-color: #{$color-primary-900};
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap:1.5rem;
  border-radius: 1rem;
  overflow: hidden;
}
.wrapper {
  overflow-y: auto;
}

.contentContainer {
  padding-inline: 1.5rem;
}
