@use "./../../ui/_color.scss" as *;
.container {
  width: 100%;
  border-top: 1px solid #{$color-border-light};
  display: flex;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  justify-content: center;
}
.menuItem {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
  color: #{$color-text-primary};
  cursor: pointer;
  padding-block: 0.5rem;
  transition: 0.2s linear;
}

.menuItem:hover {
  background-color: #{$color-gray-700};
}


.title {
  font-weight: 900;
}
