@font-face {
  font-family: "Nunito";
  src: url("/public/fonts/Nunito-Regular.ttf");
}

:root {
  --primary-color: #0D1B2A;
  --secondry-color: #1B263B;
  --assert-color: #415A77;
  --semi-light-color: #778DA9;
  --light-color: #E0E1DD;
}

body {
  background-color: var(--primary-color);
  color: var(--light-color);
  font-family: "Nunito", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

/* @media (prefers-color-scheme: light) {} */
