@use "./ui/_color.scss" as *;

*, *::after, *::before {
  margin: 0; padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Nunito";
  src: url("/public/fonts/Nunito-Regular.ttf");
}


body {
  direction: rtl;
  background-color: #{$color-black};
  color: #{$color-text-primary};
  font-family: "Nunito", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

button {
  background: inherit;
  border: none;
  outline: none;
}

/* @media (prefers-color-scheme: light) {} */
